*.swp
tags

# Parset output files
includes/parser.tab.h
src/parser.tab.c
parser

# Symbol test files
symtab

# Lexer output files
lex.yy.c
lexer

# Lexer test files
ltests/ltest.myerr
ltests/ltest.myout
err
out
